<header class="header">
  <nav
    class="navbar navbar-expand-lg bg-body-tertiary"
    aria-label="Main navegation"
  >
    <div class="navbar__container container-fluid">
      <a
        class="navbar__logo-container navbar-brand active"
        aria-current="page"
        href="/"
        aria-hidden="true"
        ><i class="navbar__logo-icon fa-solid fa-screwdriver-wrench"></i>
        <p class="navbar__logo-name">Feria de artesanía</p></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar__links-container collapse navbar-collapse"
        id="navbarNavAltMarkup"
      >
        <div class="navbar__links navbar-nav">
          <a class="navbar__link nav-link" href="speakers.html">Asistentes</a>
          <a class="navbar__link nav-link" href="article.html"
            >Artículo destacado</a
          >
          <a class="navbar__link nav-link" href="contact.html">Contáctanos</a>
        </div>
      </div>
    </div>
  </nav>
</header>
